.btn{
    margin: 10px;
    padding: 10px;
    width: 50px;
    background-color: beige;
    border-radius: 30%;
    cursor: pointer;
    border: 1px solid rgb(207, 207, 176);
    transition: all .2s linear;
    font-weight: 600;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(207, 207, 176);
    color: white;
}

.value{
    background-color:rgb(235, 145, 112);
    width: 50px;
    border-radius: 20%;
    padding: 10px;
    color: white;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
}