.div__form{
  width: 350px;
  background-color: white;
  height: 500px;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0px 4px 36px 12px rgba(15, 16, 17, 0.4);
}

.headerStyle{
  padding: 20px;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}
.propsNum{
  color: #ffa4ae;
    font-weight: 500;
    margin-right: 5px;
}

form{
  text-align: center;
  position: relative;
    top: 350px;
}

.input__text{
  padding: 15px;
  width: 204px;
  margin-right: 20px;
  border: none;
  box-shadow: 0px 4px 20px -11px rgb(15 16 17 / 80%);
  border-radius: 12px;
  outline: none;
}
.input__btn{
  border-radius: 20px;
    border: none;
    color: white;
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    box-shadow: 2px 3px #00000040;
    max-height: 25px;
    transition: all .2s linear;
}
.input__btn:hover{
  color: #fecfef;
    background: white;
}
ul{
  display: flex;
  flex-direction: column;
}
li{
  margin: 10px 0;
  display: grid;
  grid-template-columns: 200px 100px;
}

span{
  font-weight: 300;
  word-wrap: break-word; 
}

ul li::marker {
  color: red;
  font-size: 1.5em;
}